doctype
//if IE 8
  |<html class="no-js lt-ie9">
//if gt IE 8
  |<!--> <html class="no-js"> <!--
head()
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title OpenFlix
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='stylesheet', href="/bower/angular-loading-bar/build/loading-bar.css")
  link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/bower/fontawesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/openflix.css')
  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js")
body(ng-app="openflix")
  nav(role="navigation", ng-controller="NavController").navbar.navbar-fixed-top.navbar-default
    .container
      .navbar-header
        button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="/" ).navbar-brand {{title}}
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li.active: a(href="/movies") Popular
          li: a(href="/favorites") Favorites
          li.dropdown
            a(href="#",data-toggle="dropdown").dropdown-toggle
              | Genres
              i.fa.fa-fw.fa-caret-down
            ul.dropdown-menu
              li(ng-repeat="g in genres")
                a(href="/genres/{{ g.name | slugify }}/{{g.id}}") {{ g.name }}
        form(role="search", ng-submit="search(query)").navbar-form.navbar-right
          .form-group
            input(type="text", placeholder="Search", ng-model="query").form-control
  .outlet(ng-view)
  script(src="/bower/jquery/dist/jquery.min.js")
  script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
  script(src="/bower/angular/angular.js")
  script(src="/bower/angular-sanitize/angular-sanitize.min.js")
  script(src="/bower/angular-route/angular-route.min.js")
  script(src="/bower/angular-loading-bar/build/loading-bar.min.js")
  script(src="/bower/angular-animate/angular-animate.min.js")
  script(src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script(src="/bower/ngstorage/ngStorage.min.js")
  script(src="/bower/angular-slugify/angular-slugify.js")
  script(src="/app/main.js")
  script(src="/app/directives/movie-collection/movie-collection.js")
  script(src="/app/filters/capitalize.js")
  script(src="/app/controllers/nav.js")
  script(src="/app/controllers/movies.js")
  script(src="/app/controllers/movie.js")
  script(src="/app/services/favorites.js")
  script(src="/app/services/tmdb.js")
  script(src="/app/services/yts.js")
  script(src="/app/animations/slide.js")
