.container.container-movie
  .row
    .col-lg-12
      h1 Movies, no bullsh*t
  .row
    .col-xs-6.col-sm-4.col-md-3.col-lg-2(ng-repeat="movie in movies")
      .thumbnail
        a(href="/movies/{{ movie.title | slugify }}/{{movie.id}}")
          img(ng-src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}", title="{{movie.title}}").img-responsive