.carousel
  carousel(interval="5000")
    slide(ng-repeat="movie in movies", active="movie.active", ng-if="movie.backdrop_path")
      img(ng-src="http://image.tmdb.org/t/p/w780/{{movie.backdrop_path}}")
      .carousel-caption
        h2
          a(href="/movies/{{ movie.title | slugify}}/{{movie.id}}") {{ movie.title }}
        p.movie-rating
          i.fa.fa-fw.fa-star
          | {{ movie.vote_average }}  &nbsp;
          i.fa.fa-fw.fa-thumbs-up
          | {{ movie.vote_count }}

.container.container-movie
  .row
    .col-lg-12
      h1 {{title | capitalize}}

movie-collection(collection="movies")
