.backdrop(style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('http://image.tmdb.org/t/p/w780/{{movie.backdrop_path}}');")
  .container
    .row
      .col-lg-12
        span {{ movie.release_date.split('-')[0] }}
        h1 {{ movie.title }}
        h2 {{ movie.tagline }}
  .container(ng-show="playing", class="slide")
    .row
      video(controls).col-lg-12
        source(src="http://techslides.com/demos/sample-videos/small.webm", type="video/mp4")

.container.movie-data
  .row
    .col-lg-12
      .alert.alert-info(ng-hide="movie.torrents")
        i.fa.fa-fw.fa-warning
        |  This movie is not yet available
      .btn-toolbar(ng-show="movie.torrents")
        .btn-group
          button(type="button", ng-click="playing = !playing").btn.btn-sm.btn-default
            i.fa.fa-play.fa-fw
            |  Play movie
        .btn-group
          button(type="button", ng-click="subtitles = !subtitles").btn.btn-sm.btn-default
            i(ng-show="subtitles").fa.fa-toggle-on
            i(ng-hide="subtitles").fa.fa-toggle-off
            |  Subtitles
            span(ng-show="subtitles").text-muted  {{ selectedSubtitle.iso_639_1.toUpperCase() }}
            span(ng-hide="subtitles").text-muted  Off
          button(type="button", data-toggle="dropdown").btn.btn-sm.btn-default.dropdown-toggle
            i.fa.fa-caret-down
          ul.dropdown-menu
            li(ng-repeat="lang in movie.spoken_languages")
              a(href="#", ng-click="selectSubtitle($index)") {{ lang.name }}
        .btn-group
          button(type="button").btn.btn-sm.btn-default
            | Quality
            span.text-muted  {{ selectedTorrent.Quality }}
          button(type="button", data-toggle="dropdown").btn.btn-sm.btn-default.dropdown-toggle
            i.fa.fa-caret-down
          ul.dropdown-menu
            li(ng-repeat="t in movie.torrents", ng-click="selectTorrent($index)")
              a(href="#") {{ t.Quality }}
        .btn-group.pull-right(ng-if="movie.inFavs")
          button(type="button", ng-click="removeFromFavs()").btn.btn-sm.btn-default
            i.fa.fa-fw.fa-heart
            |  Remove from favs
        .btn-group.pull-right(ng-if="!movie.inFavs")
          button(type="button", ng-click="addToFavs()").btn.btn-sm.btn-default
            i.fa.fa-fw.fa-heart-o
            |  Add to favorites
        .btn-group.pull-right
          button(type="button").btn.btn-sm.btn-default
            i.fa.fa-fw.fa-link
            |  Share
      hr
  .row
    .col-lg-6
      p
        strong Year
        span.text-muted  {{ movie.release_date.split('-')[0] }}
        strong  Runtime
        span.text-muted  {{ movie.runtime }}min
    .col-lg-6
      ul.list-inline.pull-right
        li
          strong Genres
        li(ng-repeat="g in movie.genres")
          a(href="/genres/{{ g.name | slugify }}/{{ g.id }}").text-muted {{ g.name }}
    .col-lg-12
      p.overview {{ movie.overview }}

