@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html,body,.outlet { height: 100%; margin: 0px; padding: 0px; }
body {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}
.container-movie {
  margin-top: 30px;
}

.container-movie h1 {
  border-bottom-color: #333;
  margin: 0;
  margin-bottom: 30px;
}

.backdrop {
  color: white;
  background-color: #DDD;
  background-size: cover !important;
  background-position: top center !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  min-height: 200px;
  padding: 30px 0;
  transition: min-height 0.8s;
}

.backdrop:hover {
  min-height: 500px;
}

video {
  max-width: 100%;
}

.movie-data {
  margin-top: 20px;
}
.overview {
  font-size: 22px;
}

.btn-hollow {
  border: 1px solid #FFF;
  color: #FFF;
  background: transparent;
  border: none !important;
  font-size: 1.4em;
}

.btn-hollow:hover,.btn-hollow:focus {
  color: #FFF;
}

.thumbnail {
  height: 240px;
  overflow: hidden;
}

.thumbnail img {
  min-height: 230px;
}

a {
  cursor: pointer;
}
.carousel {
  max-height: 300px;
  overflow: hidden;
}
.carousel img {
  margin: auto;
  width:100%;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 a {
  color: #FFF;
}
.movie-rating span {
  margin-left: 10px;
}

.navbar-white {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-white .navbar-brand {
  color: #DB0D24;
  font-weight: bold;
}
.navbar-white .navbar-brand:hover, .navbar-white .navbar-brand:focus {
  color: #000000;
}
.navbar-white .navbar-text {
  color: #555555;
}
.navbar-white .navbar-nav > li > a {
  color: #555555;
}
.navbar-nav>li>.dropdown-menu {
  border-top: 0;
}
.navbar-white .navbar-nav > li > a:hover, .navbar-white .navbar-nav > li > a:focus {
  color: #000000;

  background: #FFF;
}
.navbar-white .navbar-nav > .active > a, .navbar-white .navbar-nav > .active > a:hover, .navbar-white .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-white .navbar-nav > .open > a, .navbar-white .navbar-nav > .open > a:hover, .navbar-white .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-white .navbar-toggle {
  border-color: #ffffff;
}
.navbar-white .navbar-toggle:hover, .navbar-white .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-white .navbar-toggle .icon-bar {
  background-color: #555555;
}
.navbar-white .navbar-collapse,
.navbar-white .navbar-form {
  border-color: #FFF;
}
.navbar-white .navbar-link {
  color: #555555;
}
.navbar-white .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-white .navbar-nav .open .dropdown-menu > li > a {
    color: #555555;
  }
  .navbar-white .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-white .navbar-nav .open .dropdown-menu > .active > a, .navbar-white .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}

.navbar-white .navbar-brand a {
  color: red !important;
}

#loading-bar .bar {
  background: #DB0D24;
}

#loading-bar .peg {
  -moz-box-shadow: #DB0D24 1px 0 6px 1px;
  -ms-box-shadow: #DB0D24 1px 0 6px 1px;
  -webkit-box-shadow: #DB0D24 1px 0 6px 1px;
  box-shadow: #DB0D24 1px 0 6px 1px;
}
