/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);*/
html,body,.outlet { height: 100%; margin: 0px; padding: 0px; }
body {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}
.container-movie {
  margin-top: 30px;
}

.container-movie h1 {
  border-bottom-color: #333;
  margin: 0;
  margin-bottom: 30px;
}

.container-movie .thumbnail img {
  height: 230px;
}

.backdrop {
  color: white;
  background-color: #DDD;
  background-size: 100% !important;
  background-position: top;
  background-repeat: no-repeat !important;
  min-height: 200px;
  padding: 30px 0;
}

.player {
  background: #000;
  padding: 30px;
  width: 100%;
  height: auto !important;
}

video {
  width: 100% !important;
  height: auto !important;
  margin:0;
}

.movie-data {
  margin-top: 20px;
}
.overview {
  font-size: 22px;
}

.btn-hollow {
  border: 1px solid #FFF;
  color: #FFF;
  background: transparent;
  border: none !important;
  font-size: 1.4em;
}

.btn-hollow:hover,.btn-hollow:focus {
  color: #FFF;  
}

.player {
  padding: 20px;
  height: 400px;
}
