<div class="carousel">
  <carousel interval="5000">
    <slide ng-repeat="movie in ::mvsVm.movies">
      <img ng-src="http://image.tmdb.org/t/p/w780/{{::movie.poster}}" alt="{{::movie.title}}">
      <div class="carousel-caption">
        <h2>
          <a ng-href="/movies/{{::movie.title | slugify}}/{{::movie.id}}">{{::movie.title}}</a>
        </h2>
        <p class="movie-ration">
          <i class="fa fa-fw fa-star"></i>
          {{::movie.voteAverage}}
          <i class="fa fa-fw fa-thumbs-up"></i>
          {{::movie.voteCount}}
        </p>
      </div>
    </slide>
  </carousel>
</div>
<!-- movies -->
<div class="container container-movie">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">{{::mvsVm.title}}</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div ng-repeat="movie in ::mvsVm.movies" class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a ng-href="/movies/{{::movie.title | slugify}}/{{::movie.id}}" class="thumbnail"><img ng-src="http://image.tmdb.org/t/p/w154{{::movie.thumb}}" title="{{::movie.title}}" class="img-responsive"/></a></div>
  </div>
</div>
